<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>scale_factor</key>
        <real>1</real>
        <key>category_names</key>
        <array>
        </array>         
        <key>bodies</key>
        <dict>

            <key>aa</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_static</key>
                <false/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>mass</key>
                        <real>1</real>
                        <key>elasticity</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>corner_radius</key>
                        <real>0</real>
                        <key>collision_categories</key>
                        <integer>0</integer>
                        <key>collision_mask</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <string></string>
                        <key>collision_group</key>
                        <string></string>
                        <key>is_sensor</key>
                        <false/>
                        
                        
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>polygons</key>
                        <array>
                            <array>   
                                <string>{ 122.00000,73.00000 }</string>   
                                <string>{ 122.00000,141.00000 }</string>   
                                <string>{ 159.00000,176.00000 }</string>   
                                <string>{ 221.00000,176.00000 }</string>   
                                <string>{ 221.00000,73.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 159.00000,239.00000 }</string>   
                                <string>{ 159.00000,176.00000 }</string>   
                                <string>{ 122.00000,141.00000 }</string>   
                                <string>{ 55.00000,141.00000 }</string>   
                                <string>{ 55.00000,239.00000 }</string>
                            </array>
                        </array>
                        
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




